@model LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "_AuthenticationLayout";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div style="width:600px; border-radius: 22px" class="MajorBackground">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" asp-validation-summary="ModelOnly">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h2 class="Title"> <span class="Title_blog">BLOG<span class="Title_it">IT</span></span></h2>
    <form method="post" asp-action="Login" asp-controller="Account" style="display: flex; flex-direction: column; align-items: center">
        <div class="Input1">
            <input class="form-control text-center" asp-for="EmailAddress" placeholder="EmailAddress" style="border-radius: 20px" />
            <span asp-validation-for="EmailAddress"></span>
        </div>
        <div class="Input2">
            <input class="form-control mt-2 text-center" asp-for="Password" placeholder="Password" style="border-radius: 20px;" />
            <span asp-validation-for="Password"></span>
        </div>
        @*<div input class="Agreement">
            <input type="checkbox" asp-for="RememberMe" /> <span> Remember me</span>
        </div>*@
        <button class="ButtonDesign" type="submit">
            Sign-In
        </button>
    </form>
    <!--<a asp-action="ForgotPassword" asp-controller="Account"><h5 style="text-align: center; color: white; margin-top: 1.3rem !important">Forgot Password?</h5></a>-->
    <div class="text-center mt-2">
        <div class="RouteToSignIn">
            <h6>Don't have an account?</h6>
            <a class="btn ButtonDesign" asp-controller="Account" asp-action="SignUp" role="button" style="color: white; border-radius: 22px; background-color: #FA2ABF;">
                SignUp
            </a>
        </div>
    </div>

</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>